.quotecard-wrapper {
  border: 0.1rem solid gray;
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;

  /*
      v: Vote button container
      t: Text
      a: Author
      e: Emotes
  */
  grid-template-areas:
    "v t t t"
    ". a a a";
  grid-template-rows: 1fr 0.1fr;
  grid-column-gap: 1rem;
}

.quotecard-text {
  font-family: "Tangerine", serif;
  font-size: 2rem;

  grid-area: t;
}

.quotecard-author {
  grid-area: a;
  color: #3f87a6;
}

.quotecard-votebutton-container {
  grid-area: v;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quotecard-votebutton {
  border: 0.1rem solid gray;
  padding: 0.3rem;
}
